*{
padding: 0%;
margin: 0px;
}

body{
    font-family: 'Raleway', sans-serif;
}

h1{
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
}

.linea{
    background: blue;
    height: 5px;
    width: 100%;
    display: block;
}


.navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
}


.primero{
    width: 100%;
    height: 500px;
    color: black;
    display: flex;
    position: relative;
    top: 90px;
    left: 0px;

}

.logo{ 
    border: 5px solid black;
    width: 300px;
    height: 300px;
    position: relative;
    top: 0;
    left: 0;
}

.logo img{
    width: 250px;
    vertical-align: top;
    height: 300px;
    object-fit: fill;
}


.contenido{
    text-align: center;
    width: 100%;
    height: 500px;
    background-color: red;
    line-height: 300px;
    border: 5px solid black;
    position: relative;
    top: 0;
    left: 500;
    
}

.segundo{
    width: 100%;
    height: 500px;
    color: black;
    display: flex;
    position: absolute;
    top: 550px;
    left: 0px;
}

.horario{
    border: 5px solid black;
width: 50%;
height: 500px;
position: relative;
left: 0px;
top: 0px;
}

@media screen and (max-width:400px){
    .body{
        grid-template-columns: repeat(auto-fit, minmax (200px, 1fr));
        
    }

}
